# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Virtual Environment =====
.venv/
venv/
env/

# ===== Environment Variables =====
.env
.env.*

# ===== Logs =====
*.log

# ===== Model / Data =====
*.pkl
*.joblib
*.h5

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/
