# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Environment Variables =====
.env

# ===== Database =====
*.sql

# ===== Logs =====
*.log

# ===== Model / Data =====
*.pkl
*.joblib

# ==== NODE / VUE =====
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== Jupyter =====
.ipynb

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/
